{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col s12">
                <div class="card-panel light-blue lighten-5 z-depth-1">
                    <div class="valign-wrapper">
                        <div class="col s3">
                            <img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">
                          <span class="black-text">
                            Mr Bean answered your request, talk to him!!
                          </span>
                        </div>
                        <div class="col s3">
                            <i class="material-icons right">chat</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card-panel light-blue lighten-5 z-depth-1">
                    <div class="valign-wrapper">
                        <div class="col s3">
                            <img src="{{ asset('bundles/platform/img/Trump.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">
                          <span class="black-text">
                             You are now connected to Mr Trump
                          </span>
                        </div>
                        <div class="col s3">
                            <i class="material-icons right">chat</i>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col s12">
                <div class="card-panel light-blue lighten-5 z-depth-1">
                    <div class="valign-wrapper">
                        <div class="col s3">
                            <img src="{{ asset('bundles/platform/img/rsz_1zukergerg.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">
                          <span class="black-text">
                            You have a connection request from Mr Zukerberg!
                          </span>
                        </div>
                        <div class="col s3">
                            <i class="material-icons right">chat</i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{%  endblock %}