{% extends '@PLATFORM/layout.html.twig' %}
{% block body %}
    <a href="{{ path('profil') }}">profil</a>
    Hello World!
    <a href="{{ path('creation_profil') }}">createprofil</a>


{%  endblock %}