{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Profil of ..........</h1>
            <div class="col s6">
                <div class="col s12 center">
                    <img src="{{ asset('bundles/platform/img/photp.png') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s12 center">
                    <a class="btn" href="{{ path('creation_profil') }}">edit your profil</a>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <p>Name :</p>
                    <p>Company :</p>
                    <p>Insead :</p>
                    <p>Position :</p>
                </div>
                <div class="card-panel grey lighten-5 z-depth-1">

                    <a href="#"> Calendar</a>
                    <p>Hobbies</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                    <p>#</p>
                </div>
            </div>
        </div>
    </div>


{%  endblock %}