{% extends '@PLATFORM/layout.html.twig' %}

{% block body %}

<div class="container grey darken-4">
    <div class="row">
        <div class="col s6">
            <div class="col s12 center">
                <img src="{{ asset('bundles/platform/img/bean.jpg') }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
<div class="col s12 center">
    <a class="btn"  onclick="Materialize.toast('your message is sent', 4000,'rounded',function(){alert('Your invite has been accepted you can go to the chat menu!!!')})">
     INVITE</a>

        </div>
        </div>
        <div class="col s6">
            <div class="card-panel grey darken-2 z-depth-1 white-text">
                <p>Name :</p>
                <p>Company :</p>
                <p>Insead :</p>
                <p>Position :</p>
            </div>
            <div class="card-panel grey darken-2 z-depth-1 white-text">

            <a href="#"> Calendar</a>
            <p>Hobbies</p>
            <p>#</p>
            <p>#</p>
            <p>#</p>
            <p>#</p>
            </div>
        </div>
    </div>
</div>


{%  endblock %}