.sidebar
{

}

h1
{
    /*margin:auto;*/
    /*height: 50px;*/
    /*font-size: 2em;*/
    font:Roboto;

}
#result-desc img
{
    background: rgba(76, 175, 80, 0.1);
    opacity: 0.4!important;

}
#result-desc img:hover
{

    opacity:1!important;
}
#result-img
{
    margin-top: 10px;
}
.menu-bar
{

}
#search
{

}
#index
{
    margin-top: 50px;
}
