.sidebar
{

}

h1
{
    /*margin:auto;*/
    /*height: 50px;*/
    /*font-size: 2em;*/
    font:Roboto;

}
#result-desc img
{
    height: 80px;

}
.menu-bar
{

}
#search
{

}
#index
{
    margin-top: 50px;
}